
body {
        background-color: #000000;
}

* {
        color: #666666;
        font-family: arial, sans-serif;
        user-select: none;
}

/* Game area */
#gameArea {
        display: block;
        margin: 100px auto 0px;
        border: 3px groove #666666;
        border-radius: 5px;
}

.no-cursor {
        cursor: none;
}

/* menu bar */
#menuBar {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
}
#menuBar .tabbar {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #666666;
        margin-bottom: 5px;
}

#menuBar .tabbar .tab {
        flex: 0 0 auto;
        padding: 5px 10px;
        border: 1px solid #666666;
        border-bottom: none;
        border-radius: 5px 5px 0px 0px;
        margin-left: 5px;
        cursor: pointer;
}

#menuBar .tabbar .tab.active {
        background-color: #666666;
        color: #000000;
}

#menuBar .tab-content {
        height: 200px;
        padding: 0px 10px 10px;
        overflow-y: scroll;
}

#menuBar .tab-content:not(.open) {
        display: none;
}

#console .console-log {
        color: #ffffff;
        margin-bottom: 5px;
}

#console .console-warning {
        color: #aaaa33;
        margin-bottom: 5px;
}

#console .console-error {
        color: #aa3333;
        margin-bottom: 5px;
}