
:root {
        --black: #000000;
        --gray: #666666;
        --lightgray: #999999;
        --silver: #bbbbbb;
        --white: #ffffff;
        --purple: #b432c9;
        --blue: #2197c5;
        --green: #59b432;
        --yellow: #c9c921;
        --orange: #c47832;
        --red: #b43221;
}

html {
        display: flex;
        flex-direction: column;
        height: 100%;
}

body {
        background-color: var(--black);
}

* {
        color: var(--gray);
        font-family: arial, sans-serif;
        user-select: none;
        box-sizing: border-box;
}

/* Game area */
#gameArea {
        display: block;
        margin: 20px auto 0px;
        border: 3px groove var(--gray);
}

.no-cursor {
        cursor: none;
}

/* edit mode */
.edit_mode {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        max-height: 100%;
        margin: 0px;
}

.edit_mode #content-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        max-height: calc(100% - 32px);
}

.edit_mode #left-column,
.edit_mode #right-column {
        display: flex;
        flex-direction: column;
        flex: 0 0 300px;
}

.edit_mode #left-column {
        border-right: 3px double var(--gray);
}

.edit_mode #right-column {
        border-left: 3px double var(--gray);
}

.edit_mode #gameArea {
        flex: 1 1 auto;
        max-width: calc(100% - 604px);
        border: none;
        margin: 0px;
}

/* container */

.container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 0px 5px;
        overflow: hidden;
}

.container + .container {
        border-top: 2px solid var(--gray);
}

.container .container_title {
        font-size: 17px;
        line-height: 23px;
        color: var(--lightgray);
        padding: 5px 0px;
}

.container .container_content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        overflow-y: auto;
}

.container .container_content .game_object {
        padding: 10px 0px;
        cursor: pointer;
}

.container .container_content .game_object.selected .title {
        font-weight: 600;
        color: var(--lightgray);
}

.container .container_content .game_object:not(:last-of-type) {
        border-bottom: 1px solid var(--gray);
}

.container .container_content .game_object .title {
        font-size: 14px;
        line-height: 16px;
}

.container .container_content .component {
        border: 1px solid var(--gray);
        border-radius: 5px;
}

.container .container_content .component:not(:last-of-type) {
        margin-bottom: 10px;
}

.container .container_content .component:not(.open) .content {
        max-height: 0px;
        overflow: hidden;
}

.container .container_content .component:not(.open) > .title {
        border: none;
}

.container .container_content .component:not(.open) > .title .collapse {
        transform: rotate(-90deg);
}

.container .container_content .component > .title {
        display: flex;
        font-size: 16px;
        line-height: 18px;
        padding: 5px;
        border-bottom: 1px solid var(--gray);
}

.container .container_content .component > .title .component_name {
        flex: 1 1 auto;
}

.container .container_content .component > .title .attribute.boolean {
        flex: 0 0 auto;
        display: block;
        padding: 0px;
        margin: 0px 5px;
        border: none;
}

.container .container_content .component > .title .attribute.boolean label {
        display: none;
}

.container .container_content .component > .title .collapse {
        cursor: pointer;
        display: block;
        padding: 0px 3px;
        font-size: 12px;
        color: var(--lightgray);
        transform: rotate(90deg);
}

.container .container_content .scene {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
}

.container .container_content .scene + .scene {
        border-top: 1px solid var(--gray);
        padding-top: 5px;
}

.container .container_content .scene .attribute {
        flex: 1 1 auto;
        padding: 0px;
        border: none;
}

.container .container_content .scene .fake_button {
        flex: 0 0 auto;
        margin: 0px 0px 0px 5px;
}

.container .container_content .add_gameObject,
.container .container_content .add_component {
        width: 100%;
        background-color: transparent;
        border: 1px solid var(--gray);
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: auto;
        font-size: 14px;
        line-height: 16px;
        color: var(--gray);
        cursor: pointer;
        transition: 0.2s;
}

.container .container_content .add_gameObject:hover,
.container .container_content .add_component:hover {
        color: var(--lightgray);
}

/* card */
.card {
        display: flex;
        flex-direction: column;
        height: 100%;
}

.card .card_title {
        border-bottom: 1px solid var(--gray);
        padding-bottom: 10px;
        margin-bottom: 10px;
}

.card .card_title .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 1 auto;
}

.card .card_title .content .attribute {
        padding: 0px;
        border: none;
}

.card .card_title .content .attribute.hidden_text {
        flex: 1 1 auto;
}

.card .card_title .content .attribute.boolean {
        margin-left: 5px;
        margin-top: 0px !important;
}

.card .card_title .content .attribute.boolean label {
        display: none;
}

.card .card_title .content .attribute + .attribute {
        margin-top: 5px;
}

.card .card_content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
}

/* attributes */
.attribute {
        display: flex;
        flex-direction: column;
        padding: 5px;
}

.attribute:not(:last-of-type) {
        border-bottom: 1px solid var(--gray);
}

.attribute.vector2 > .title {
        font-size: 12px;
        line-height: 14px;
}

.attribute.vector2 .offset_x,
.attribute.vector2 .offset_y {
        display: flex;
        flex-direction: row;
        padding: 5px 0px;
}

.attribute.vector2 label {
        margin-bottom: 0px;
        margin-right: 10px;
        line-height: 20px;
}

.attribute.color {
        flex-direction: row;
}

.attribute.color label {
        margin-bottom: 0px;
        margin-right: 10px;
        line-height: 20px;
}

.attribute.color input[type="color"] {
        -webkit-appearance: none;
        padding: 0px;
        height: 20px;
        width: 100%;
        cursor: pointer;
}

.attribute.boolean {
        flex-direction: row;
}

.attribute.boolean label {
        margin-bottom: 0px;
        margin-right: 10px;
        line-height: 16px;
}

.attribute.boolean input[type="checkbox"] {
        margin: 0px;
        width: 16px;
        height: 16px;
        cursor: pointer;
}

.attribute label {
        flex: 0 0 auto;
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 14px;
}

.attribute input[type="text"],
.attribute input[type="number"] {
        flex: 1 1 auto;
        font-size: 12px;
        line-height: 14px;
}

.attribute.hidden_text {
        flex-direction: row;
}

.attribute.hidden_text .text {
        flex: 1 1 auto;
}

.attribute.hidden_text .edit_text {
        flex: 0 0 auto;
        margin-left: 5px;
        cursor: pointer;
        transition: 0.2s;
}

.attribute.hidden_text .edit_text:hover {
        color: var(--lightgray);
}

.container.max_height {
        flex: 1 1 auto;
}

/* tabbar */
.tabbar {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--lightgray);
}

.tabbar .tabbar_tab {
        flex: 0 0 auto;
        border-right: 1px solid var(--lightgray);
}

.tabbar .tabbar_tab.end,
.tabbar .tabbar_tab.end ~ .tabbar_tab {
        border-right: none;
        border-left: 1px solid var(--lightgray);
}

.tabbar .tabbar_tab:not(.dropdown) {
        padding: 5px 15px 5px 10px;
}

/* dropdown */
.dropdown {
        position: relative;
}

.dropdown .dropdown_button {
        cursor: pointer;
        color: var(--lightgray);
        padding: 5px 15px 5px 10px;
        position: relative;
}

.dropdown .dropdown_button::after {
        content: '\f0d7';
        font-family: 'FontAwesome';
        display: block;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
        color: var(--gray);
}

.dropdown .dropdown_content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: 1;
        width: fit-content;
        height: auto;
        background-color: var(--black);
        border: 1px solid var(--silver);
}

.dropdown .dropdown_content:empty {
        display: none !important;
}

.dropdown.open .dropdown_content {
        display: block;
}

.dropdown.open .dropdown_button {
        color: var(--silver);
}

.dropdown .dropdown_button .fa,
.dropdown .dropdown_button .title,
.dropdown .dropdown_button::after {
        transition: 0.2s;
}

.dropdown .dropdown_button:hover .fa,
.dropdown .dropdown_button:hover .title,
.dropdown .dropdown_button:hover::after {
        color: var(--silver);
}

.dropdown .dropdown_content .dropdown_content_item {
        padding: 5px;
}

.dropdown .dropdown_content .dropdown_content_item:not(:last-of-type) {
        border-bottom: 1px solid var(--silver);
}

.dropdown .dropdown_content .dropdown_content_item > * {
        display: block;
        text-decoration: none;
        color: var(--gray);
        white-space: nowrap;
}

.dropdown .dropdown_content .dropdown_content_item .title {
        margin-bottom: 5px;
        color: var(--lightgray);
        white-space: nowrap;
}

.dropdown .dropdown_content .dropdown_content_item .content {
        color: var(--lightgray);
}

/* popup windows */
.popup {
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        border: 2px solid var(--gray);
        box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.25);
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
}

.popup .popup_title {
        display: flex;
        border-bottom: 1px solid var(--gray);
        cursor: move;
}

.popup .popup_title .title {
        flex: 1 1 auto;
        padding: 5px 10px;
        font-size: 18px;
        line-height: 20px;
        color: var(--lightgray);
}

.popup .popup_title .close {
        flex: 0 0 auto;
        padding: 5px 10px;
        font-size: 18px;
        line-height: 20px;
        cursor: pointer;
}

.popup .popup_title .close:hover {
        color: var(--lightgray);
}

.popup .popup_content {
        flex: 1 1 auto;
        padding: 10px;
}

/* snackbar */
.snackbar {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        background-color: var(--black);
        border: 3px solid transparent;
        padding: 15px 30px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: var(--white);
        animation-name: 'snackbar-animation';
        animation-timing-function: linear;
        animation-duration: var(--snackbar-animation-duration);
}

.snackbar.snackbar_warning {
        border-color: var(--yellow);
        color: var(--yellow);
}

.snackbar.snackbar_danger {
        border-color: var(--red);
        color: var(--red);
}

.snackbar.snackbar_success {
        border-color: var(--green);
        color: var(--green);
}

@keyframes snackbar-animation {
        0% {
                opacity: 0;
                transform: translateX(-50%) translateY(50px);
        }

        5% {
                opacity: 1;
                transform: translateX(-50%) translateY(0px);
        }

        95% {
                opacity: 1;
                transform: translateX(-50%) translateY(0px);
        }

        100% {
                opacity: 0;
                transform: translateX(-50%) translateY(50px);
        }
}

/* form */
form {
        display: flex;
        flex-direction: column;
}

form .form_item {
        display: flex;
        flex-direction: row;
}

form .form_item + .form_item {
        margin-top: 10px;
}

form .form_item label {
        flex: 0 0 calc(50% - 15px);
        max-width: calc(50% - 15px);
        padding-right: 15px;
        margin-right: 15px;
}

form .form_item input[type="text"] {
        flex: 0 0 50%;
        max-width: 50%;
}

form input[type="submit"] {
        margin-top: 10px;
}

/* buttons */
.fake_button {
        display: inline-block;
        background-color: var(--black);
        border: 1px solid var(--gray);
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 16px;
        color: var(--gray);
        white-space: nowrap;
        transition: 0.2s;
        cursor: pointer;
}

.fake_button:hover {
        color: var(--silver) !important;
}

.button_link {
        cursor: pointer;
        text-decoration: none;
        transition: 0.2s;
        cursor: pointer;
}

.button_link .fa {
        margin-right: 5px;
        transition: 0.2s;
}

.button_link:hover {
        color: var(--silver) !important;
}

.button_link:hover * {
        color: var(--silver) !important;
}

/* misc classes */
.hidden {
        display: none !important;
}

.mt_auto {
        margin-top: auto;
}

#scenes-container {
        flex: 0 0 auto;
        min-height: 200px;
}

.row {
        display: flex;
}

.row .fa {
        flex: 0 0 auto;
        margin-right: 10px;
}

.row .title {
        flex: 1 1 auto;
}

.row .end {
        margin-left: auto;
}